<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoify | A To-Do List to Organize Your Work & Life</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/header.css">
</head>

<body>
    <header>
        <nav>
            <div id="todoLogo">
                <img src="/images/logo-icon.png" alt="logo.ong" width="40px">
                <h1>todoify</h1>
            </div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/features">Features</a></li>
                <div class="separator"></div>
                <li><a href="#">Log in</a></li>
                <li class="signup"><a href="#" >Star for free</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>