<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoify | A To-Do List to Organize Your Work & Life</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
    <header>
        <nav>
            <a id="todoLogo" href="/" style="text-decoration: none;">
                <img src="/images/logo-icon.png" alt="logo.ong" width="40px">
                <h1>todoify</h1>
            </a>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/features">Features</a></li>
                <div class="separator"></div>
                <li><a onclick="loginFun()">Log in</a></li>
                <li class="signup"><a onclick="signupFun()">Star for free</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <div class="form-box login">
            <div class="cross" onclick="backToCalled()">&times;</div>
            <h2 class="title animation">Login</h2>
            <form action="/todoify/user/login" method="post">
                <div class="input-box animation">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>

                <div class="input-box animation">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn animation">Login</button>
                <div class="linkTxt animation">
                    <p>Don't have an account? <a class="register-link" onclick="signupFun()"
                            style="cursor: pointer;">Sign Up</a>
                    </p>
                </div>
            </form>
        </div>
        <div class="form-box register">
            <div class="cross" onclick="backToCalled()">&times;</div>
            <h2 class="title animation">Sign Up</h2>
            <form action="/todoify/user/signup" method="post">
                <div class="input-box animation">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="input-box animation">
                    <input type="email" id="email" name="email" required>
                    <label for="email" class="emailLabel">Email</label>
                </div>
                <div class="input-box animation">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="btn animation">Sign Up</button>
                <div class="linkTxt animation">
                    <p>Already have an account? <a class="login-link" onclick="loginFun()"
                            style="cursor: pointer;">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="/scripts/script.js"></script>
</body>

</html>