<%- include('layouts/header') %>

    <head>
        <link rel="stylesheet" href="/styles/features.css">
        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        <img id="feature_img" src="/images/feature_page.avif" alt="feature_page">
        <div class="intro">
            <h1><span>Overwhelmed</span> On top of it</h1>
            <p>Todoify makes it frictionless to get all your tasks out of your head and organized in one trusted place.
            </p>
            <button>Start for free</button>
        </div>
        <div id="features">
            <div class="fixed_block">
                <img src="" alt="uploading.png">
            </div>
            <div class="scrolling_block">
                <h1>Organize, prioritize, and get things done</h1>
                <p>Don't let the minimalist design fool you – Todoify provides all the essential tools to streamline
                    your tasks and boost
                    productivity.</p>
                <ul>
                    <li><span class="h1">Task Creation</span><span class="p1">: Easily create new tasks with a simple
                            interface.</span></li>
                    <li><span class="h1">Due Dates</span><span class="p1">: Set due dates to keep track of
                            deadlines.</span></li>
                    <li><span class="h1">Priority Levels</span><span class="p1">: Assign priority levels to tasks to
                            focus on what matters most.</span></li>
                    <li><span class="h1">Task Categories</span><span class="p1">: Organize tasks into categories for
                            better management.</span></li>
                    <li><span class="h1">Search Functionality</span><span class="p1">: Quickly find tasks with the
                            built-in search feature.</span></li>
                    <li><span class="h1">Task descriptions</span><span class="p1">: keep all the info and links you need
                            to get started right inside your tasks.</span></li>
                </ul>
                <div class="testimonial">
                    <p>“Todoist gives me the peace of mind knowing I am doing exactly what I need to do, exactly when I
                        need to do it.”</p>
                    <div class="details">
                        <div class="img">
                            <img src="https://res.cloudinary.com/imagist/image/fetch/q_auto,f_auto,c_scale,w_360/https%3A%2F%2Ftodoist.com%2Fstatic%2Ffeatures-teams%2Favatars%2Fashley-w.jpg"
                                alt="user">
                        </div>
                        <div class="info">
                            <h1>Ashley W.</h1>
                            <p>Head of Leadership & Learning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>