<%- include('layouts/header') %>

    <head>
        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        <div id="heroSection">
            <img src="/images/homePage.jpg" alt="uploading">
            <div class="description">
                <h1>Organize Your Day, Boost Your Productivity.</h1>
                <p>Todoify helps you keep track of all your tasks, ensuring you never lose sight of what needs to be done. Organize your day and boost your productivity effortlessly.</p>
                <button onclick="signupFun()" style="cursor: pointer;">Start for free</button>
            </div>
            <script src="styles/script.js"></script>
        </div>
    </body>
