<%- include('layouts/header') %>

    <head>
        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        <div id="heroSection">
            <img src="/images/homePage.jpg" alt="uploading">
            <div class="description">
                <h1>Organize your work and life, finally.</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi consectetur vero magni numquam
                    officia quas quieos mollitia quae!</p>
                <button onclick="signupFun()" style="cursor: pointer;">Start for free</button>
            </div>
            <script src="styles/script.js"></script>
        </div>
    </body>