<%- include('layouts/header') %>
<head>
    <link rel="stylesheet" href="/styles/index.css">
</head>
    <div id="heroSection">
        <div class="description">
            <h1>Organize your work and life, finally.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nisi consectetur vero magni numquam officia quas quieos mollitia quae!</p>
            <button>Start for free</button>
        </div>
        <img src="" alt="uploading">
    </div>