#heroSection {
    width: 80%;
    height: max-content;
    margin-inline: auto;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 90px 30px;
}

#heroSection img {
    width: 50%;
    border: 1px solid gray;
    border-radius: 12px;
}

.description {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    word-break: keep-all;
    overflow-wrap: nowrap;
    color: gray;
}

.description h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: black;
}

button {
    margin-top: 20px;
    align-self: self-start;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    padding: 20px 15px;
    border: none;
    border-radius: 12px;
    background-color: rgb(227, 68, 50);
    box-shadow: 0px 8px 2px rgba(227, 68, 50, 0.5);
}

button:hover {
    transform: translateY(5px);
    box-shadow: 0px 4px 2px rgba(227, 68, 50, 0.5);
}


@media only screen and (max-width: 1024px) {
    #heroSection {
        flex-flow: column;
        padding-block: 40px;
    }

    #heroSection img {
        width: 90%;
        margin-bottom: 40px;
    }

    .description {
        width: 100%;
    }

    .description h1 {
        font-size: 3.5rem;
        margin-bottom: 40px;
        text-align: center;
    }

    button {
        margin-top: 40px;
        align-self: center;
    }
}

@media only screen and (max-width: 650px) {

    .description h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
        text-align: center;
    }

    .description p {
        text-align: justify;
    }

    button {
        margin-top: 20px;
        align-self: center;
        padding: 12px 8px;
    }
}