* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: white;
}


.controller {
    border: none;
    font-size: 1.3rem;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}

.outside {
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
    /* margin-left: 5px; */
}

#sidebar {
    background-color: rgba(227, 68, 50, 0.1);
    width: max-content;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 10px 20px 40px 30px;
    transition: all 0.5s;
    z-index: 99;
}

.controller.inside {
    position: absolute;
    top: 10px;
    right: 0;
}


.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


.content ul li {
    width: 220px;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 4px;
    position: relative;
    cursor: pointer;
}

.content ul .user {
    width: max-content !important;
}

.content ul .user:hover {
    background-color: transparent;
}

.content ul li:hover {
    background-color: rgba(227, 68, 50, 0.1);
}

.content ul li a {
    width: 100%;
    padding: 8px 10px;
    color: black;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;

}

.content ul li a .count {
    position: absolute;
    right: 10px;
    font-size: 0.8rem;
}

.content ul li:hover .count {
    color: rgb(227, 68, 50);
}

.content ul .user a .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0 0 0 3px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(227, 68, 50);

}

.logout {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

main {
    height: max-content;
    width: 90%;
    transition: all 0.5s;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: end;
}

.container {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.container .title {
    width: 100%;
    height: max-content;
    background-color: white;
    align-self: flex-start;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    position: sticky;
    top: -10px;
    padding-block: 10px;
    margin-bottom: 40px;
    z-index: 5;
}

main .container ul {
    width: 100%;
    overflow: hidden;
}

main .container ul li {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 20px 30px 5px 0;
    gap: 12px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.noTodoFound {
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    color: gray;
    text-align: center;
    padding-block: 20px;
}

main .container ul li .todo_update {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    position: relative;
    top: -10px;
    width: 24px;
    height: 24px;
}

main .container ul li .todo_update .completed {
    opacity: 1;
    color: green;
}

main .container ul li .todo_update .pending {
    opacity: 0;
    color: red;
}

main .container ul li .todo_update:hover svg {
    opacity: 1;
}

main .container ul li .todo_container {
    flex-grow: 1;
}

main .container ul li .todo_container .todo_title {
    margin-bottom: 2px;
}

main .container ul li .todo_container .todo_description {
    color: rgba(128, 128, 128, 0.8);
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .container ul li .todo_container .todo_created_date {
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(120, 108, 120);
}

main .container ul li .toDelete {
    position: relative;
    top: -10px;
    opacity: 0.2;
    transition: all 0.3s;
}

main .container ul li:hover .toDelete {
    opacity: 1;
}

main .container ul li .toDelete:hover {
    color: red;
}

main .container .addTodo {
    width: 100%;
    padding: 10px 0;
}

main .container .addTodo a {
    width: 70%;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    color: rgba(227, 68, 50, 0.5);
}

main .container .addTodo a:hover {
    color: rgb(227, 68, 50);
}

main .container .showAdder {
    display: none;
    width: 100%;
    padding: 10px 0;
}

.adderLayout {
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 12px;
    padding: 20px 0px 20px 10px;
}

.adderLayout input[type="text"] {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 1.1rem;
    text-transform: capitalize;
    text-indent: 12px;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.5); */
}

.adderLayout .break {
    width: 100%;
    margin-block: 4px 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.adderLayout .buttons {
    width: 40%;
    padding-inline: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .adderLayout .buttons {
        width: 50%;
    }
}

.adderLayout .buttons button {
    width: max-content;
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.adderLayout .buttons button.btn1 {
    background-color: rgba(128, 128, 128, 0.3);
}

.adderLayout .buttons button.btn2 {
    background-color: rgba(227, 68, 50, 0.5);
    color: white;
}

.adderLayout .buttons button.btn2:hover {
    background-color: rgb(227, 68, 50);
}

@media screen and (max-width: 990px) {
    #sidebar {
        background-color: rgba(227, 68, 50, 0.8);
        color: white;
    }

    .content ul li a {
        color: white;
    }

    .logout {
        color: white;
    }

    .adderLayout .buttons {
        width: 70%;
    }
}

@media screen and (max-width: 650px) {
    .adderLayout .buttons {
        width: 100%;
        padding-inline: 10px;
    }
}

/* custom-alert start*/
.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(227, 68, 50);
    /* Red background for alert */
    color: white;
    /* White text */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Make sure it appears on top */
    font-family: Arial, sans-serif;
    text-align: center;
}

.custom-alert button {
    display: inline-block;
    background-color: #fff;
    border: none;
    color: rgb(176, 35, 20);
    padding: 10px 20px;
    margin-top: 10px;
    margin-inline: 3px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.custom-alert button:hover {
    background-color: #ddd;
}

#alertMessage {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

/* custom-alert ends */


/* for error page */
#error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error .container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error .container .title {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("/images/images.jpeg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
}

#error .container .details {
    font-weight: bolder;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-block-end: 5px;
}

/* #error .container .details .sCode{} */
/* #error .container .details .msg{} */
#error .container .description {
    width: 50%;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
}

#error .container button {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
}

#error .container button a {
    background-color: rgb(227, 68, 50);
    border-radius: 12px;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    box-shadow: 0px 8px 2px rgba(227, 68, 50, 0.5);
}

#error .container button a:hover {
    box-shadow: 0px 4px 2px rgba(227, 68, 50, 0.5);
}

#error .container button:hover {
    transform: translateY(4px);
}

@media screen and (max-width: 550px) {
    #error .container .title {
        font-size: clamp(6rem, 7rem, 8rem);
    }

    #error .container .description {
        width: 90%;
        text-align: justify;
    }

    #error .container button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    #error .container .title {
        font-size: clamp(5rem, 5.5rem, 6rem);
    }

    #error .container .details{
        font-size: 1rem;
        text-align: center;
    }

    #error .container .description {
        width: 100%;
    }
}

/* 
rgb(227, 68, 50)
rgb(176, 35, 20)
rgba(227, 68, 50, 0.5)
*/
